@page
@section indexprincipal {
    <link href="@Url.Content("~/css/styles-indexempleado.css")" rel="stylesheet" type="text/css" />
}
@model YovyInventario.Pages.Empleado.IndexModel

@{
}
<div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class=" d-flex justify-content-between">
            <h2>Lista de Inventario</h2>
            <form class="form-inline">
                <div class="input-group mb-3">
                    <label for="fechaventas" class="col-form-label mx-2">Fecha: </label>
                    <input type="date" class="form-control" placeholder="Fecha a consultar" aria-label="Fecha a consultar" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </form>
        </div>
        <table class="tabla table table-hover table-responsive">
            <thead class="theadblue">
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                </tr>
            </thead>
            @foreach (var item in Model.inventario)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.IdInventario)</td>
                    <td>@Html.DisplayFor(m => item.Fecha)</td>
                    <td>@Html.DisplayFor(m => item.Cantidad)</td>
                    <td>@Html.DisplayFor(m => Model.productos.ToList().Find(p => p.IdProducto == item.Fkproducto).Nombre)</td>
                </tr>
            }
        </table>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class=" d-flex justify-content-between">
            <h2>Lista de Ventas</h2>
            <form class="form-inline">
                <div class="input-group mb-3">
                    <label for="fechaventas" class="col-form-label mx-2">Fecha: </label>
                    <input type="date" class="form-control" placeholder="Fecha a consultar" aria-label="Fecha a consultar" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </form>
        </div>
        <table class="tabla table table-hover table-responsive">
            <thead class="theadblue">
                <tr>
                    <th>#</th>
                    <th>Nombre Cliente</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
                @foreach (var item in Model.ventas)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.IdVenta)</td>
                        <td>@Html.DisplayFor(m => item.NombreCliente)</td>
                        <td>@Html.DisplayFor(m => item.Fecha)</td>
                        <td>@Html.DisplayFor(m => item.Cantidad)</td>
                        <td>@Html.DisplayFor(m => Model.productos.ToList().Find(p => p.IdProducto == item.Fkproducto).Nombre)</td>
                        <td>@Html.DisplayFor(m => item.PrecioTotal)</td>
                    </tr>
                }
        </table>
    </div>
</div>

